html {
  width: 75% !important;
  margin: auto !important;
  background-color: #c0c0c0 !important;
}
.banner{
  height: 150px;
  padding-top: 20px;
  margin-bottom: 8px;
  background-color: #FFFFFF;
}

#footerLinks h4 {
  color: #004282;
}

#footerLinks a:link {
  color: black; 
  background-color: transparent; 
  text-decoration: none;
}

#footerLinks a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

#footerLinks a:hover {
  color: #00944d;
  background-color: transparent;
  font-weight: bold;
  text-decoration: none;
}

#footerLinks a:active {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

#CRLinks a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

#EREA{
  padding-top: 45px;
}

#title{
  padding-left: 7px;
  padding-top: 10px;
  margin-bottom: 15px;
}

#main{
  padding-right: 0px;
}

#adminTable{
  background: rgb(255, 255, 255);
  padding-left: 3px;
  padding-right: 3px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-top: 7px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.container {
  padding-left: 2px;
  padding-right: 2px;
}

body {
    background: #ffffff;
    color: #333333;
    /* margin-top: 5rem; */
  }

  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  .bg-steel {
    background-color: #004282;
  }

  .site-header .navbar-nav .nav-link {
    color: #fff;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    background-color: #00944d;
    color: #fff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    background-color: #00944d;
    font-weight: 500;
  }
  
  .content-section {
    background: rgb(255, 255, 255);
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-top: 7px;
    margin-bottom: 13px;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }