{% extends 'layout.html' %}
{% block content %}


<div class="container">
    <div id="title">
        <h1>Administration</h1>
    </div>
    <div style="margin-bottom: 10px; padding-left: 5px;">
        <input class="form-control" id="searchInput" type="text" placeholder="Search...">
    </div>
    <div class="table-responsive" id="adminTable" style="width: auto;">

        <table class="table table-hover" style="margin-bottom: 0px;">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Forename</th>
                    <th>Surname</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Most Recent Post</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="userTable">
                {% for user in users %}
                <tr>
                    <td>
                        {{ user.id }}
                    </td>
                    <td>
                        {{ user.forename }}
                    </td>
                    <td>
                        {{ user.surname }}
                    </td>
                    <td>
                        <a onMouseOver="this.style.color='#00944d'" onMouseOut="this.style.color='#007bff'" href="{{ url_for('posts.user_posts', username=user.username) }}">{{ user.username }}</a>
                    </td>
                    <td>
                        <a onMouseOver="this.style.color='#00944d'" onMouseOut="this.style.color='#007bff'" href="mailto:{{ user.email }}">{{ user.email }}</a>
                    </td>
                    <td>
                        {% set postCount = [1] %}
                        {% set totalChar = 22 %}
                        {% set finalString = [""] %}

                        {% for post in posts[::-1] %}
                            {% if loop.index == postCount[0] %}
                                {% if post.author == user %}

                                    {% for letter in post.title|splitChars %}
                                        {% if loop.index <= totalChar %}
                                            {% set finalString = finalString.append(finalString.pop() + letter) %}
                                        {% endif %}
                                        {% if loop.index == (totalChar+1) %}
                                            {% set finalString = finalString.append(finalString.pop().rstrip() + "...") %} 
                                        {% endif %}
                                    {% endfor %}

                                    <a onMouseOver="this.style.color='#00944d'" onMouseOut="this.style.color='#007bff'" href="{{ url_for('posts.post', post_id=post.id) }}">{{ finalString[0] }}</a>
                                    
                                    {% set postCount = postCount.append(postCount.pop() - 1) %}
                                {% else %}
                                    {% set postCount = postCount.append(postCount.pop() + 1) %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td style="padding-right: 0px;">
                        <a class="btn btn-outline-info btn-sm"
                            href="{{ url_for('users.editUser', userToEdit=user.id) }}">Edit
                            User</a>
                    </td>
                    <td style="padding-right: 0px;">
                        <a class="btn btn-outline-danger btn-sm"
                            href="{{ url_for('users.deleteUser', userToDelete=user.id) }}">Remove User</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="title">
        <h2>Administrator Functions</h2>
    </div>
    <a class="btn btn-outline-info" href="{{ url_for('users.userLogFile') }}" style="margin-left: 5px; margin-bottom: 16px;">View Log - User Sign In</a>
    <a class="btn btn-outline-info" href="{{ url_for('users.register') }}" style="margin-left: 5px; margin-bottom: 16px;">Register User</a>
    <a class="btn btn-outline-info" href="{{ url_for('users.registerMulti') }}" style="margin-left: 5px; margin-bottom: 16px;">Register Multiple Users (.CSV)</a>
</div>


{% if userE != None %}
<!-- The Modal -->
<div class="modal fade" id="editUserModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <form method="POST" action="" enctype="multipart/form-data">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Edit User</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="media">
                        <img class="rounded-circle account-img" src="{{ image_file }}" alt="userImage">
                        <div class="media-body">
                            <h2 class="account-heading">{{ userE.username }}</h2>
                            <p class="text-secondary">{{ userE.email }}</p>
                        </div>
                    </div>
                    <div class="content-section">
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Update Account Details</legend>
                            <div class="form-group">
                                {{ form.username.label(class="form-control-label") }}
                                {% if form.username.errors %}
                                {{ form.username(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.username(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.forename.label(class="form-control-label") }}
                                {% if form.forename.errors %}
                                {{ form.forename(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.forename.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.forename(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.surname.label(class="form-control-label") }}
                                {% if form.surname.errors %}
                                {{ form.surname(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.surname.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.surname(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.email.label(class="form-control-label") }}
                                {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.email(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.admin.label(class="form-control-label") }}
                                {% if form.admin.errors %}
                                {{ form.forename(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.admin.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.admin(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.picture.label() }}
                                {{ form.picture(class="form-control-file") }}
                                {% if form.picture.errors %}
                                {% for error in form.picture.errors %}
                                <span class="text-danger">{{ error }}</span><br>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </fieldset>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <div class="form-group">
                            {{ form.submit(class="btn btn-outline-info") }}
                            <button type="button" class="btn btn-danger" data-dismiss="modal"
                                style="margin-left: 4px;">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>$("#editUserModal").modal();</script>
{% endif %}


{% if userD != None %}
<!-- Delete User Modal -->
<div class="modal fade" id="deleteUserModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Remove User</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                Are you sure you would like to remove user: {{ userD.username }}?
            </div>
            <div class="modal-footer">
                <form action="{{ url_for('users.DELETEUSER', userToDelete=userD.id) }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Remove User">
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>$("#deleteUserModal").modal();</script>

{% endif %}


<!-- Search Bar JQuery Code -->
<script>
    $(document).ready(function () {
        $("#searchInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#userTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>


{% endblock content %}