<!DOCTYPE html>
<html lang="en">

{% if title == "Administration" %}
{% set bootWidth = 12 %}
{% else %}
{% set bootWidth = 8 %}
{% endif %}

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="icon" type="image/png" href="/static/favicon.png">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>ATC Senior English Blog</title>
    {% endif %}
</head>

<body>
    <div class="container">
        <div class="banner">
            <a href="{{ url_for('main.home') }}"><img class="col-md-5 img-fluid float-left" src="\static\ATCLogo.png"
                    alt="Ambrose Treacy College"></a>
            <a href="http://www.erea.edu.au" target="_blank"><img class="col-md-5 img-fluid float-right" id="EREA"
                    src="\static\EREALogo.png" alt="A Catholic School In The Edmund Rice Tradition"></a>
        </div>
    </div>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel">
            <div class="container">
                <a class="navbar-brand mr-4" href="{{ url_for('main.home') }}">ATC Senior English Blog</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="{{ url_for('main.about') }}">About</a>
                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                        {% if current_user.is_authenticated %}
                        <a class="nav-item nav-link" href="{{ url_for('posts.new_post') }}">New Post</a>
                        <a class="nav-item nav-link" href="{{ url_for('users.account') }}">Account</a>
                        {% if current_user.administrator == 1 %}
                        <a class="nav-item nav-link" href="{{  url_for('users.admin')  }}">Administration</a>
                        {% endif %}
                        <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Logout</a>
                        {% else %}
                        <a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a>
                        <a class="nav-item nav-link" href="{{ url_for('users.register') }}">Register</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        <div class="row container" style="width: auto; margin-right: 0px;">
            <div class="col-md-{{ bootWidth }}" id="main">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages  %}
                <div class="alert alert-{{ category }}"
                    style="padding-top: 10px; margin-top: 10px; margin-left: 5px; margin-right: 0px;">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                {% block content %}{% endblock %}
            </div>
            {% if title != "Administration" %}
            <div class="col-md-4" id="side">
                <div class="content-section">
                    <h3>Recent Posts</h3>
                    <p class='text-muted'>
                        <ul class="list-group">
                            {% for post in posts[::-1] %}
                            {% if loop.index <= 6 %}
                            <li class="list-group-item list-group-item-light"><a
                                    href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </p>
                </div>
            </div>
            {% endif %}
        </div>
    </main>

</body>

</html>