{% extends 'layout.html' %}
{% block content %}
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Register Users</legend>
            <div class="form-group">
                {{ form.csvFile.label() }}
                {{ form.csvFile(class="form-control-file") }}
                {% if form.csvFile.errors %}
                {% for error in form.csvFile.errors %}
                <span class="text-danger">{{ error }}</span><br>
                {% endfor %}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
        <div class="container">
                <br><br>
                <h5>The format for the csv must match the following structure exactly.</h5>
                <span>"Username,Forename,Surname,Email,Password"</span>
                <br>
                <br>
                <br>
                <h6>Constraints: Character Length (CL), Required (R)</h6>
                <p>Username: R, CL(2-20)</p>
                <p>Forename and Surname: CL(max 50)</p>
                <p>Email: R, Must follow email structure (example@atc.qld.edu.au)</p>
                <p>Password: R</p>
            </div>
    </form>
</div>
{% endblock content %}